/* styles/globals.css */
:root {
  font-family: var(--font-geist-sans), sans-serif;
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
  background-color: #c0c0c0;
}

#login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-field {
  background-color: gray;

  border-radius: 16px;
  color: red;
}
